@font-face {
    font-family: Start;
    src:url(../fontes/press_start_2p/PressStart2P.ttf);
  }

@font-face {
    font-family: Minecraftia;
    src:url(../fontes/minecraftia/Minecraftia-Regular.ttf)
}

:root {
    --one-bg: #0e0e0e;
    --font-color: #e2f0f2;
}

/* Estilos Gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Minecraftia';
    font-size: 14px;
    background-color: #681b60;
    margin: 0;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    height: 100vh;
    /* padding-top: 80px; */
}

header {
    width: 100vw;
    padding: 0 10px;
    /* background-color: var(--font-color); */
    height: 80px;
    /* position: fixed; */
    top: 0;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-around;
}

header img {
    width: 80px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul h2 {
    font-family: 'Start';
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 0px #1a1616;
    font-size: 18px;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header input {
    text-align: center;
    width: 80%;
    height: 25px;
    /* text-transform: uppercase; */
    font-family: 'Minecraftia';
    margin-bottom: 10px;
}

header button {
    width: 60%;
    border: 2px solid black;
    background-color: rgb(2, 179, 2);
    font-family: 'Start';
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
}

/* Container principal */

.div-inicio {
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
    color: #000;
    background-color: white;
    padding: 0 8px;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

section {
    width: 100%;
    height: auto;
    /* overflow-y: auto; */
}

#teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    /* overflow-y: auto; */
    padding-bottom: 50px;
}

#returningTeam {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
}

#returningTeam .team {
  background-color: rgb(106, 110, 156);
  /* color: var(--font-color); */
  border: 2px solid #ffffff;
}

/* Estilo dos times */
.team {
    border: 2px solid #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    /* border-radius: 8px; */
    background-color: rgb(42, 5, 49);
    color: white;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    width: 60%;
    /* height: 150px; */
    margin-top: 20px;
    /* overflow-y: auto; */
}

.team-onHold {
  background-color: rgb(106, 110, 156);
  /* color: var(--font-color); */
  border: 2px solid #ffffff;
  color: black;
}

#onHoldTeam {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-match-container {
  width: 90vw;
}

.match-container {
  width: 100%;
  display: flex;
  /* gap: 30px; */
  justify-content: center;
  align-items: center;
  /* margin-bottom: 40px; */
}

/* Títulos dos times */
h3 {
    margin: 0;
}

/* Estilo das listas de jogadores */
.player-space {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
    margin: 3px 0;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.player-space span {
  /* padding: 5px; */
  background-color: gold;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}

/* Espaço vazio */
.player-empty {
    background-color: #f8f8f8;
}

/* Jogadores levantadores */
.player-setter {
    background-color: #53a553; /* Verde claro para levantadores */
}

/* Jogadores mulheres */
.player-female {
    background-color: #945294; /* Lilás para mulheres */
}

/* Destaque para jogador selecionado */
.player-selected {
  outline: 2px solid blue;
  background-color: rgba(69, 69, 128, 0.452);
}

/* Destaque para espaço vazio selecionado */
.player-empty-selected {
    outline: 2px solid orange;
}

/* Botão de remover jogador */
#removePlayerBtn {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos para os times que estão jogando atualmente */
.playing-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

/* Estilo para a marcação "X" entre os dois times */
.playing-teams .versus {
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Botões de vitória */
.win-button {
    font-family: 'Minecraftia';
    margin-top: 10px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    border: 2px solid black;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

.win-button:hover {
    background-color: darkgreen;
}

#clearTeams {
    /* width: 60%; */
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background-color: rgb(255, 0, 0);
    font-family: 'Start';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 6px;
    padding: 5px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
    color: white;
}

#clearTeams span {
  width: 100%;
}

/* ###################### ADM */

#adm {
    display: flex;
    flex-direction: column;
    /* justify-content: center;    */
    /* align-items: center; */
    background-color: rgb(67, 39, 70);
    height: 100vh;
    overflow-y: scroll;
}

.header-rules {
  padding: 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#playerForm {
    /* background-color: #3a6799; */
    width: 100%;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-top: 15px;
    border-bottom: 3px solid white;
}

#playerForm input {
    height: 28px;
    /* border-radius: 15px; */
    padding: 0 15px;
    border: 2px solid black;
    width: 100%;
    font-family: 'Start';
    font-size: 10px;
}

label {
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#playerForm button {
    /* width: 60%; */
    border: 2px solid black;
    background-color: rgb(0, 224, 0);
    font-family: 'Start';
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    box-shadow: 5px 5px 0px rgb(0, 0, 0);
}

#removePlayerBtnShow {
  display: block;
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 20px;
  color: #db6b6b;
  display: flex;
  justify-content: center;
  align-items: center;
}

#undoTeams {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  background-color: rgb(40, 141, 65);
  font-family: 'Start';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 6px;
  padding: 5px;
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
  color: white;
}

#undoTeams span {
  width: 100%;
}

.buttons-org {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: c;
}

/* ######################################################### */

  .checkbox-wrapper-58 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-58 *,
  .checkbox-wrapper-58 ::after,
  .checkbox-wrapper-58 ::before {
    box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox-wrapper-58 .switch {
    /* Variables */
    --switch_width: 3em;
    --switch_height: 1.5em;
    --thumb_color: #e8e8e8;
    --track_color: #e8e8e8;
    --track_active_color: #888;
    --outline_color: #000;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: var(--switch_width);
    height: var(--switch_height);
  }

  /* The slider */
  .checkbox-wrapper-58 .slider {
    box-sizing: border-box;
    border: 2px solid var(--outline_color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--track_color);
    transition: .15s;
    border-radius: var(--switch_height);
  }

  .checkbox-wrapper-58 .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: var(--switch_height);
    width: var(--switch_height);
    border: 2px solid var(--outline_color);
    border-radius: 100%;
    left: -2px;
    bottom: -2px;
    background-color: var(--thumb_color);
    transform: translateY(-0.2em);
    box-shadow: 0 0.2em 0 var(--outline_color);
    transition: .15s;
  }

  .checkbox-wrapper-58 input:checked + .slider {
    background-color: var(--track_active_color);
  }

  .checkbox-wrapper-58 input:focus-visible + .slider {
    box-shadow: 0 0 0 2px var(--track_active_color);
  }

  /* Raise thumb when hovered */
  .checkbox-wrapper-58 input:hover + .slider:before {
    transform: translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }

  .checkbox-wrapper-58 input:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.2em);
  }

  /* Raise thumb when hovered & checked */
  .checkbox-wrapper-58 input:hover:checked + .slider:before {
    transform: translateX(calc(var(--switch_width) - var(--switch_height))) translateY(-0.3em);
    box-shadow: 0 0.3em 0 var(--outline_color);
  }

  .checkbox-wrapper-58 {
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ############################################ header btn */

  .checkbox-wrapper-55 p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 6px;
    text-transform: uppercase;
    font-family: 'Start';
    margin-top: 5px;
  }

  .checkbox-wrapper-55 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-55 *,
  .checkbox-wrapper-55 ::after,
  .checkbox-wrapper-55 ::before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-55 .rocker {
    display: inline-block;
    position: relative;
    /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
  }

  .checkbox-wrapper-55 .rocker-small {
    font-size: 1em;
  }

  .checkbox-wrapper-55 .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
  }

  .checkbox-wrapper-55 .switch-left,
  .checkbox-wrapper-55 .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
  }

  .checkbox-wrapper-55 .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
  }

  .checkbox-wrapper-55 .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
  }

  .checkbox-wrapper-55 .switch-left::before,
  .checkbox-wrapper-55 .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
  }

  .checkbox-wrapper-55 .switch-left::before {
    left: -0.4em;
  }

  .checkbox-wrapper-55 .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    padding: 0 1px;
    transform: rotate(0deg) skewX(0deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
  }

  .checkbox-wrapper-55 input:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
  }

  .checkbox-wrapper-55 input:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
  }

  /* Keyboard Users */
  .checkbox-wrapper-55 input:focus + .switch-left {
    color: #333;
  }

  .checkbox-wrapper-55 input:checked:focus + .switch-left {
    color: #fff;
  }

  .checkbox-wrapper-55 input:focus + .switch-left + .switch-right {
    color: #fff;
  }

  .checkbox-wrapper-55 input:checked:focus + .switch-left + .switch-right {
    color: #333;
  }
